<div class="justify-content-end" style="height: 100%; width: 100%">
    <div class="row justify-content-end" style="height: 100%;">
        <div class="col-lg-6 p-0" style="position: absolute;right:0px;height: 100%;">
            <div class="card" style="height: 100%;">
                <div class="col_login card-body">
                    <h2 style="position: absolute; left: 5px;top:5px; cursor: pointer; color: #505050;" routerLink="/">
                        <i class="arrow_login fas fa-angle-double-left"></i>
                    </h2>
                    <div style="position: absolute; left: 5px;top:5px;">
                        <span class="logo" style="font-size: 2.0rem; color: #31d0aa;">
                            Plannic
                        </span>
                    </div>
                    <div class="p-5" style="position: relative;top: 50px;">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">{{'CRUD-USUARIO.CONTA' | translate}}</h4>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" id="exampleName"
                                    [ngStyle]="{'border-color': (!isNull() && nomeFormControl.hasError('required')) ? 'red' : null}" [(ngModel)]="this.form.nome"
                                    [formControl]="nomeFormControl" placeholder="{{'CRUD-USUARIO.NOME' | translate}}"
                                    name="nome">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="email" id="exampleInputEmail"
                                    [ngStyle]="{'border-color': !isNull() && (emailFormControl.hasError('email') || emailFormControl.hasError('required')) ? 'red' : null}" aria-describedby="emailHelp"
                                    [(ngModel)]="this.form.email" [formControl]="emailFormControl"
                                    placeholder="{{'CRUD-USUARIO.EMAIL' | translate}}" name="email">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input [ngStyle]="" class="form-control form-control-user" type="password"
                                        [ngStyle]="{'border-color': !isNull() && ((this.form.password!=this.confPass) || this.senhaFormControl.hasError('required')) ? 'red' : null}" id="exampleSenhaInput"
                                        [(ngModel)]="this.form.password" [formControl]="senhaFormControl"
                                        placeholder="{{'CRUD-USUARIO.SENHA' | translate}}" name="senha">
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" type="password"
                                        [ngStyle]="{'border-color': !isNull() && ((this.form.password!=this.confPass) || this.confSenhaFormControl.hasError('required')) ? 'red' : null}" name="password"
                                        [(ngModel)]="this.confPass" [formControl]="confSenhaFormControl"
                                        id="exampleRepeatSenhaInput"
                                        placeholder="{{'CRUD-USUARIO.SENHA2' | translate}}">
                                </div>
                            </div>

                            <style>
                                p{
                                    margin: 3px;
                                }
                            </style>
                            <div id="erros" class="form-group" style="margin-left: 10px;">
                                <p *ngIf="!camposOk()" style="color: red; ">{{'CRUD-USUARIO.CAMPOS' |
                                    translate}}</p>
                                <p *ngIf="this.form.password!=this.confPass" style="color: red; ">{{'CRUD-USUARIO.SENHA-ERR' |
                                    translate}}</p>
                                <p *ngIf="!passMin()" style="color: red; ">{{'CRUD-USUARIO.SENHA-ERR2' |
                                    translate}}</p>      
                                <p *ngIf="emailFormControl.hasError('email')" style="color: red; ">{{'CRUD-USUARIO.EMAIL-ERR' |
                                    translate}}</p>
                            </div>
                            <button
                                [disabled]="emailFormControl.hasError('email') || !camposOk() || isNull()"
                                style="background-color: #19647e; color: white;"
                                class="btn btn-block btn-user" type="button"
                                (click)="onSubmit()">{{'CRUD-USUARIO.REGISTRAR' | translate}}</button>
                            <hr>
                        </form>
                        <!-- <div class="text-center"><a class="small" href="#">{{'CRUD-USUARIO.SENHA-FORGOT' |
                                translate}}</a>
                        </div> -->
                        <div class="text-center"><a class="small" href="../login">{{'CRUD-USUARIO.CONTA-OK' |
                                translate}}</a>
                        </div>
                    </div>
                </div>
                <select-lang></select-lang>
            </div>
        </div>
    </div>
</div>