.btn:not(:disabled):not(.disabled) {
  background-color: #19647e;
  font-size: 1.1rem;
  color: #fff;
}

.navbar.navbar-dark.navbar-expand-lg.navigation-clean-search {
  background-color: #31d0aa;
  font-size: 1.1rem;
}

.navbar-dark .navbar-text a, .navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text {
  color: white rtant;
  font-size: 1.1rem;
}

.footer-basic {
  background-color: #505050;
}

.social {
  color: white;
}

.list-inline, .list-unstyled {
  color: white;
}

.far.fa-calendar-alt.m-auto.text-primary {
  font-size: 3rem;
  color: #19647e;
}

.fas.fa-users.m-auto.text-primary {
  font-size: 3rem;
  color: #19647e;
}

.fas.fa-pencil-alt.m-auto.text-primary {
  font-size: 3rem;
  color: #19647e;
}

.h3, h3 {
  color: #2e282a;
}

.mx-auto.features-icons-item.mb-5.mb-lg-0.mb-lg-3 {
  border: 3px solid #2e282a;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 250px;
  background-color: #fbfcee;
}

.d-flex.features-icons-icon {
  margin: 10px;
  padding: 10px;
}

.pag_inicial {
  background-image: url("../../assets/img/img04b.jpg");
  background-repeat: round;
  max-width: 1800px;
}

.pag_inicial_cards {
  color: #2e282a;
}

.bg-gradient-primary {
  background-color: #31d0aa;
  background-image: none;
}

.img-logo {
  width: 100%;
}

.logo {
  font-family: 'Comfortaa';
  font-size: 2.9rem;
  color: #19647e;
  font-weight: bold;
}

.botao-custom {
  color: #fff;
  background-color: #19647e;
}

.botao-custom:hover{
  background-color: #114758 !important;
}

.logo-profile {
  font-size: 1.5rem;
}

.textoMaterias {
  color: #2e282a;
}

.paginas {
  background-color: #31deaa;
  border-color: #505050;
  color: #2e282a;
}

.cor-fonte-pagina {
  color: #505050;
}

@media screen and (max-width: 992px) {
  .pag_inicial_texto {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 1300px) {
  .pag_inicial_texto {
    font-size: 4em;
  }
}

@media screen and (max-width: 768px) {
  .pag_inicial_texto {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 576px) {
  .pag_inicial_texto {
    font-size: 3em;
  }
  .img-media{
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .pag_inicial_texto {
    font-size: 2.5em;
  }
  .img-media{
    display: none;
  }
}

.pag_inicial_texto {
  font-family: 'Comfortaa';
  color: #19647e;
  font-size: 4.3em;
  font-weight: 700;
}

.botao-criar {
  font-size: 15px;
  border-color: #2e282a;
  background-color: #19647e;
}

.botao-criar:hover {
  background-color: #114758;
}

.page-item.active .page-link {
  background-color: #19647e;
  border-color: #2e282a;
}

.page-item.active .page-link:hover {
  background-color: #114758;
}

.conteudo{
  max-width: 1200px;
}

.media-dir{
  display: inline-flex;
  flex-direction: row-reverse;
}

.img-media{
  width: 30%;
  margin: 0rem;
}

.titulo-media{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-family: Comfortaa;
}

.texto-media{
  font-size: 1.1rem;
  text-align: justify;
  padding: 1rem;
  font-family: Comfortaa;
}

.texto-apresentacao{
  font-size: 1.2rem;
  text-align: justify;
  margin: 3% auto;
  color: #2e282a;
  max-width: 90%;
  font-family: Comfortaa;
}

.table th, .table td {
  padding: 0.75rem !important;
}