.btn:not(:disabled):not(.disabled) {
  font-size: 1.1rem;
}

.navbar-dark .navbar-text a, .navbar-dark .navbar-text a:focus, .navbar-text {
  color: white;
}

.nav-link{
  font-size: 1.3rem;
}

.h3, h3 {
  color: #2e282a;
}

.mx-auto.features-icons-item.mb-5.mb-lg-0.mb-lg-3 {
  border: 3px solid #2e282a;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 250px;
  background-color: #fbfcee;
}

.d-flex.features-icons-icon {
  margin: 10px;
  padding: 10px;
}

#select_lang{
  position: fixed;
  bottom: 25px;
  right: 15px;
  width: 90px;
}

@media (max-width: 520px) {
  .col_login h2{
    display: none;
  }
}
@media (min-width: 520px) {
  .logo{
    display: none;
  }
}

/* ================================================================================== */
/* Login */

.pag_login {
  background-image: url("../../assets/img/login.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 991px) {
  .arrow_login {
      position: fixed;
      top: 9px;
      left: 5px;
  }
}

/* ================================================================================== */
/* Efeito de Digitação */
.typewriter h2 {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #31d0aa; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width:100%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #31d0aa; }
}
/* ================================================================================== */

.pag_inicial {
  background-image: url("../../assets/img/img04b.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-logo {
  width: 100%;
}

.logo {
  font-family: 'Comfortaa';
  font-size: 2.9rem;
  color: #19647e;
}

.botao-custom {
  color: #fff;
  background-color: #19647e;
}

.botao-custom:hover{
  background-color: #114758 !important;
}

.logo-profile {
  font-size: 1.5rem;
}

.textoMaterias {
  color: #2e282a;
}

.paginas {
  background-color: #31deaa;
  border-color: #505050;
  color: #2e282a;
}

.cor-fonte-pagina {
  color: #505050;
}

.botao-criar {
  font-size: 15px;
  border-color: #2e282a;
  background-color: #19647e;
}

.botao-criar:hover {
  background-color: #114758;
}

.page-item.active .page-link {
  background-color: #19647e;
  border-color: #2e282a;
}

.page-item.active .page-link:hover {
  background-color: #114758;
}

.conteudo{
  max-width: 1200px;
}

.media-dir{
  display: inline-flex;
  flex-direction: row-reverse;
}

.titulo-media{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-family: Comfortaa;
}

.texto-metodos{
  text-align: justify;
  font-family: Comfortaa;
  margin: 3% auto;
  color: #2e282a;
  max-width: 90%;
}

.table th, .table td {
  padding: 0.75rem !important;
}