#select_lang{
  position: relative;
  margin-left: 10px;
  width: 90px;
}

@media (max-width: 520px) {
  .col_login h2{
    display: none;
  }
}
@media (min-width: 520px) {
  .logo{
    display: none;
  }
}


/* ============================================================================ */
/* Matérias */

.link_materias:hover{
  background-color: #fbfcee;
}


.card-body .link_materias.active{
  background:#19647e !important; 
  color: #fbfcee !important;
  text-decoration:underline #31d0aa;
}

/* ============================================================================ */
/* Index */


.pag_inicial {
  background-image: url("../../assets/img/img04b.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  font-family: 'Comfortaa';
  font-size: 2.9rem;
  color: #31d0aa;
}

.cards_index {
  border: 1px solid #2e282a;
  border-radius: 5px;
  padding: 10% 5%;
  margin: 5px;
  height: 250px;
  background-color: #fbfcee;
  color: #505050
}

/* ============================================================================ */
/* Configurações */

@media (max-width: 992px) {
  #config_nav_desk{
    display:none;
  }
}
@media (min-width: 992px) {
  #config_nav_mobile{
    display:none;
  }
}

#config_nav_desk .nav-pills .nav-link{
  font-size: 1.1rem;
}

#config_nav_desk .nav-pills .nav-link.active{
    background:none;
    color: #19647e;
    text-decoration:underline #31d0aa;
  }

  
#config_nav_desk .nav-pills .nav-link span:hover{
  text-decoration:underline #31d0aa;
}


/* ============================================================================ */
/* Métodos de Estudo */

.texto-metodos{
  text-align: justify;
  font-family: Comfortaa;
  margin: 3% auto;
  color: #2e282a;
  max-width: 90%;
}

.item_metodos{
  color: #31d0aa;
}
.item_metodos:hover{
  color: #19647e;
}

/* ============================================================================ */
/* Navbar */

@media (max-width: 992px) {
  #nav_logo, #dropdown_user_desk{
    display:none;
  }
}
@media (min-width: 992px) {
  #nav_drop, #nav_plannic{
    display:none;
  }
}

.nav_abas{
  font-size: 1.3rem;
  color: #2e282a;
}

/* ================================================================================== */
/* Login */

.pag_login {
  background-image: url("../../assets/img/login.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 991px) {
  .arrow_login {
      position: fixed;
      top: 9px;
      left: 5px;
  }
}

/* ================================================================================== */
/* Efeito de Digitação */
.typewriter h2 {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #31d0aa; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width:100%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #31d0aa; }
}
/* ================================================================================== */