<div class="justify-content-end" style="height: 100%; width: 100%">
    <div class="row justify-content-end" style="height: 100%;">
        <div class="col-lg-6 p-0" style="position: absolute;right:0px;height: 100%;">
            <div class="card" style="height: 100%;">
                <div class="col_login card-body">
                    <h2 style="position: absolute; left: 5px;top:5px; cursor: pointer; color: #505050;" routerLink="/">
                        <i class="arrow_login fas fa-angle-double-left"></i>
                    </h2>
                    <div style="position: absolute; left: 5px;top:5px;">
                        <span class="logo" style="font-size: 2.0rem; color: #31d0aa;">
                            Plannic
                        </span>
                    </div>
                    <div class="p-5" style="position: relative;top: 50px;">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">{{'CRUD-USUARIO.BEM-VINDO' | translate}}</h4>
                        </div>
                        <form class="user px-5">
                            <div class="form-group">
                                <input class="form-control form-control-user" type="email" id="exampleInputEmail"
                                    aria-describedby="emailHelp" placeholder="{{'CRUD-USUARIO.EMAIL' | translate}}"
                                    [ngStyle]="{'border-color': !isNull() && (emailFormControl.invalid || senhaFormControl.invalid) ? 'red' : null}"
                                    name="email" [(ngModel)]="this.form.email" [formControl]="emailFormControl">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="password"
                                    [(ngModel)]="this.form.password" [formControl]="senhaFormControl"
                                    id="exampleInputPassword"
                                    [ngStyle]="{'border-color': !isNull() && senhaFormControl.invalid ? 'red' : null}"
                                    placeholder="{{'CRUD-USUARIO.SENHA' | translate}}" name="password">
                            </div>

                            <style>
                                p {
                                    margin: 3px;
                                }
                            </style>
                            <div class="form-group" style="margin-left: 10px;">
                                <p *ngIf="!isNull() && (emailFormControl.hasError('required') || senhaFormControl.hasError('required'))"
                                    style="color: red; ">
                                    {{'CRUD-USUARIO.CAMPOS' | translate}}
                                </p>
                                <p *ngIf="!isNull() && emailFormControl.hasError('email')" style="color: red; ">
                                    {{'CRUD-USUARIO.EMAIL-ERR' | translate}}
                                </p>
                            </div>
                            <button
                                [disabled]="emailFormControl.hasError('email') || emailFormControl.hasError('required') || senhaFormControl.hasError('required')"
                                style="color: white;background-color: #19647e;"
                                class="btn botao-custom btn-block btn-user" (click)="onSubmit()"
                                type="button">{{'CRUD-USUARIO.LOGIN' | translate}}</button>
                            <hr>
                        </form>
                        <div class="text-center">
                            <a class="small" routerLink="../registrar"> {{'CRUD-USUARIO.CONTA' | translate}}</a>
                        </div>
                    </div>
                    <select id="select_lang" class="form-control" #langSelect (change)="switchLang(langSelect.value)">
                        <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                            [selected]="lang === translate.currentLang">{{ lang }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>