<h4 class="text-gray-500">{{'GRAFICOS.NOTA_ESTUDO' | translate}}</h4>
<div style="margin-top: 30px;display: block">
  <div class="d-flex justify-content-center">
    <div [hidden]="this.loaded" class="spinner-border" style="position: relative; top: 100px;width: 6rem; height: 6rem;" role="status">
    </div>
  </div>
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>