<div class="container-fluid">
  <div class="row pr-3 pb-2">
    <h3 class="col text-dark ">{{'LOGED.MATERIAS' | translate}}</h3>
    <button type="button" class="col-1 btn btn-sm btn-outline-success float-right" data-toggle="modal"
      data-target="#criarmateria">{{'CRUD-GERAL.CRIAR' | translate}}</button>
    <!-- Modal Criação de Matéria -->
    <div class="modal fade" id="criarmateria" tabindex="-1" role="dialog" aria-labelledby="CriarMateriaModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="CriarMateriaModalLabel">{{'CRUD-GERAL.CRIAR' | translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="small mb-1" for="nome-materia">{{'MATERIAS.NOME' | translate}}</label>
                  <ng-select id="select_materia" [(ngModel)]="this.newMateria.nome" [items]="this.dbMaterias"
                    [selectOnTab]="true" bindLabel="nomeMateria" bindValue="nomeMateria" [addTag]="true"
                    (change)="onChange($event, 'create')">
                    <ng-template ng-option-tmp let-item="item">
                      {{item.nomeMateria}} <br />
                    </ng-template>
                    <ng-template ng-tag-tmp let-search="searchTerm">
                      <div (click)="createSugestao(search)">
                        {{'CRUD-GERAL.CRIAR' | translate}} "{{search}}"
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <p [hidden]="this.newMateria.camposVal" style="color: red; ">
              {{'NOTAS.ERROS.CAMPOS' | translate}}
            </p>
          </div>
          <div class="modal-footer">
            <button (click)="saveMateria()" type="button" class="btn btn-primary">
              {{'MATERIAS.SALVAR' | translate}}
            </button>
            <button id="closeModal_criarMat" (click)="closeModal()" type="button" class="btn btn-secondary"
              data-dismiss="modal">
              {{'MATERIAS.FECHAR' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow" style="min-height: 20rem;">
    <div class="d-flex justify-content-center">
      <div [hidden]="this.loaded" class="spinner-border"
        style="position: relative; top: 100px;width: 6rem; height: 6rem;" role="status">
      </div>
    </div>
    <div [hidden]="!this.loaded" class="card-body">
      <h4 style="position: relative; top: 100px;" class="text-center" [hidden]="!this.loaded"
        *ngIf="this.materias.length===0">
        {{'MATERIAS.SEM_MATERIAS' | translate}}
      </h4>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" *ngFor="let materia of this.userMaterias | keyvalue">
          <div class="card h-100">
            <div class="card-header" id="heading{{materia.key}}">
              {{materia.value['nome']}}
              <div class="float-right">
                <!-- EDIÇÃO DE MATÉRIAS -->
                <i (click)="setEditMateria(materia.key)" id="btn_EditMateria" data-toggle="modal"
                  data-target="#EditarMateriaModal" style="color: #19647e; cursor: pointer;"
                  class="far fa-edit fa-lg mr-3"></i>
                <div class="modal fade" id="EditarMateriaModal" tabindex="-1" aria-labelledby="EditarMateriaModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="EditarMateriaModalLabel">
                          {{'CRUD-GERAL.EDITAR' | translate}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="small mb-1" for="nome-materia">{{'MATERIAS.NOME' | translate}}</label>
                              <ng-select id="select_materia" [(ngModel)]="this.materiaToEdit.nomeMateria"
                                [items]="this.dbMaterias" [selectOnTab]="true" bindLabel="nomeMateria"
                                bindValue="nomeMateria" [addTag]="true" (change)="onChange($event, 'edit')">
                                <ng-template ng-option-tmp let-item="item">
                                  {{item.nomeMateria}} <br />
                                </ng-template>
                                <ng-template ng-tag-tmp let-search="searchTerm">
                                  {{'CRUD-GERAL.CRIAR' | translate}} "{{search}}"
                                </ng-template>
                              </ng-select>
                            </div>
                          </div>
                        </div>
                        <p [hidden]="this.materiaToEdit.camposVal" style="color: red; ">
                          {{'NOTAS.ERROS.CAMPOS' | translate}}
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button (click)="editMateria()" type="button" class="btn btn-primary">
                          {{'MATERIAS.SALVAR' | translate}}
                        </button>
                        <button id="closeModal_editMat" (click)="closeModal()" type="button" class="btn btn-secondary"
                          data-dismiss="modal">
                          {{'MATERIAS.FECHAR' | translate}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- EXCLUSÃO DE MATÉRIAS -->
                <i (click)="delMateria(materia.key)" style="color: #dc3545; cursor: pointer;"
                  class="far fa-minus-square fa-lg"></i>
              </div>
            </div>
            <div class="card-body">
              <ul class="nav nav-tabs" id="myTab{{materia.key}}" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="notas-tab" data-toggle="tab" href="#notas{{materia.key}}" role="tab"
                    aria-controls="notas" aria-selected="true">{{'LOGED.NOTAS' | translate}}</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="material-tab" data-toggle="tab" href="#material{{materia.key}}" role="tab"
                    aria-controls="material" aria-selected="false">{{'MATERIAS.MATERIAIS' |
                    translate}}</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent{{materia.key}}">
                <div class="tab-pane fade show active" id="notas{{materia.key}}" role="tabpanel"
                  aria-labelledby="notas-tab">
                  <div *ngIf="materia.value['notas'].length>0;else sem_notas">
                    <!-- Criação de Nota -->
                    <button type="button" class="btn btn-primary btn-block mt-4 mb-3"
                      (click)="setIdMateria(materia.key)"
                      style="border: none; background-color: #31d0aa; color: #505050" data-toggle="modal"
                      data-target="#CriarNotaModal">
                      <i class="fas fa-plus-circle mr-1"></i>
                      {{'CRUD-GERAL.CRIAR' | translate}}
                    </button>
                    <table mat-table multiTemplateDataRows [dataSource]="materia.value['notas']">
                      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                        <th mat-header-cell *matHeaderCellDef>
                          <span *ngIf="column=='nota';else other_content">{{'NOTAS.NOME' | translate}}</span>
                          <ng-template #other_content>
                            <span *ngIf="column!=' '">
                              {{'NOTAS.'+column.toUpperCase() | translate}}
                            </span>
                          </ng-template>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="column!=' ';else excluir">
                            <span *ngIf="column=='nota'">{{element['notaMateria']}}</span>
                            <span *ngIf="column=='tipo'">{{element['tipoNota']}}</span>
                            <span *ngIf="column=='data'">{{element['dataNota']}}</span>
                          </span>
                          <!-- Exclusão de nota -->
                          <ng-template #excluir>
                            <i (click)="delNota(element.idNotaMateria, false)" style="color: #dc3545; cursor: pointer;"
                              class="far fa-minus-square fa-lg"></i>
                          </ng-template>
                        </td>
                      </ng-container>
                      <!-- Edição de notas -->
                      <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                          <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-diagram">
                              <div class="px-4 py-1">
                                <div class="form-row">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label class="small mb-1" for="tipoAvaliacao">{{'NOTAS.TIPO'
                                        |
                                        translate}}
                                      </label>
                                      <select [ngStyle]="{'border-color': !camposValidos ? 'red' : null}"
                                        [(ngModel)]="notaToEdit.tipoNota" class="form-control">
                                        <option *ngFor="let tipo of tipos">{{tipo}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label class="small mb-1" for="dataNota">{{'NOTAS.DATA' |
                                        translate}}</label>
                                      <input
                                        [ngStyle]="{'border-color': (!camposValidos || !dataValida) ? 'red' : null}"
                                        [(ngModel)]="notaToEdit.dataNota" class="form-control" type="date" />
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label class="small mb-1" for="nota">{{'LOGED.NOTA' |
                                        translate}}</label>
                                      <input
                                        [ngStyle]="{'border-color': (!camposValidos || !notaValida) ? 'red' : null}"
                                        [(ngModel)]="notaToEdit.notaMateria" class="form-control" id="nota" name="nota"
                                        type="number" placeholder="Nota">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row mb-2">
                                  <div class="col-md-12">
                                    <span [hidden]="camposValidos" style="color: red; ">
                                      {{'NOTAS.ERROS.CAMPOS' | translate}}
                                      <br>
                                    </span>
                                    <span [hidden]="dataValida" style="color: red; ">
                                      {{'NOTAS.ERROS.DATA' | translate}}
                                      <br>
                                    </span>
                                    <span [hidden]="notaValida" style="color: red; ">
                                      {{'NOTAS.ERROS.NOTA' | translate}}
                                    </span>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="col">
                                    <button (click)="editNota()" type="button"
                                      class="btn btn-info btn-block">{{'CRUD-GERAL.EDITAR' |
                                      translate}}</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr (click)="setEditNota(element.idNotaMateria)" mat-row
                        *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                      </tr>
                    </table>
                  </div>
                  <ng-template style="color: #505050" #sem_notas>
                    <h5 class="mt-3 text-center">
                      {{'MATERIAS.SEM_NOTAS' | translate}}
                      <br>
                      <!-- Criação de Nota -->
                      <button id="btn_createNota" type="button" class="btn btn-primary btn-lg mt-4"
                        (click)="setIdMateria(materia.key)"
                        style="border: none; background-color: #31d0aa; color: #505050" data-toggle="modal"
                        data-target="#CriarNotaModal">
                        <i class="fas fa-plus-circle mr-1"></i>
                        {{'CRUD-GERAL.CRIAR' | translate}}
                      </button>
                    </h5>
                  </ng-template>
                </div>
                <div class="tab-pane fade" id="material{{materia.key}}" role="tabpanel" aria-labelledby="material-tab">
                  <div class=" my-3 custom-file">
                    <input type="file" (change)="getFiles($event)" class="custom-file-input" id="customFile" multiple>
                    <label class="custom-file-label" for="customFile" id="customFileLabel">{{'MATERIAS.ESCOLHER'
                      |
                      translate}}</label>
                  </div>
                  <button type="button" (click)="uploadFiles()" class=" btn btn-info"
                    [disabled]="!arquivos">{{'CRUD-GERAL.SALVAR' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Criação de Nota -->
      <div class="modal fade" id="CriarNotaModal" tabindex="-1" aria-labelledby="CriarNotaModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{'CRUD-GERAL.CRIAR' | translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-left">
              <div class="form-group">
                <label class="small mb-1" for="tipoAvaliacao">{{'NOTAS.TIPO' |
                  translate}}
                </label>
                <select id="tipoAvaliacao" [ngStyle]="{'border-color': !camposValidos ? 'red' : null}"
                  [(ngModel)]="newNota.tipoNota" class="form-control">
                  <option *ngFor="let tipo of tipos">{{tipo}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="small mb-1" for="dataNota">{{'NOTAS.DATA' | translate}}</label>
                <input [ngStyle]="{'border-color': (!camposValidos || !dataValida) ? 'red' : null}"
                  [(ngModel)]="newNota.data" class="form-control" type="date" />
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="small mb-1" for="nota">{{'LOGED.NOTA' | translate}}</label>
                    <input [ngStyle]="{'border-color': (!camposValidos || !notaValida) ? 'red' : null}"
                      [(ngModel)]="newNota.nota" class="form-control" id="nota" name="nota" type="number"
                      placeholder="Nota">
                  </div>
                </div>
              </div>
              <div class="form-row mb-2 small">
                <div class="col">
                  <span [hidden]="camposValidos" style="color: red; ">
                    {{'NOTAS.ERROS.CAMPOS' | translate}}
                    <br>
                  </span>
                  <span [hidden]="dataValida" style="color: red; ">
                    {{'NOTAS.ERROS.DATA' | translate}}
                    <br>
                  </span>
                  <span [hidden]="notaValida" style="color: red; ">{{'NOTAS.ERROS.NOTA' |
                    translate}}</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button (click)="this.saveNota()" type="button" class="btn btn-info">
                {{'CRUD-GERAL.SALVAR' | translate}}
              </button>
              <button id="closeModal_createNota" type="button" class="btn btn-secondary"
                data-dismiss="modal">{{'MATERIAS.FECHAR' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>