<div *ngIf="!isLogged">
    <header class="text-white text-center">
        <nav class="navbar navbar-dark navbar-expand-lg">
            <a class="navbar-brand logo" routerLink="/" style="font-size: 2.0rem; color: #31d0aa;">
                Plannic
            </a>
            <span class="nav-item ml-auto">
                <a class="login pr-3" routerLink="/login" style="padding: 5px; font-size: 1.1rem;">
                    {{'PADRAO.ENTRAR' | translate}}
                </a>
                <button routerLink="/registrar" class="btn btn-dark btn-lg" type="button">{{'PADRAO.CADASTRE-SE' |
                    translate}}</button>
            </span>
        </nav>
    </header>
    <section class="align-middle" style="position: relative; top: 170px">
        <div class="row" style="margin: 0;">
            <div class="typewriter mx-auto ">
                <h2>
                    {{'INDEX.PLANNIC' | translate}}
                </h2>
            </div>
        </div>
    </section>
    <footer class="footer-basic">
        <p class="copyright">Copyright © Plannic 2021</p>
        <select-lang></select-lang>
    </footer>
</div>
<app-loged *ngIf="isLogged"></app-loged>