<div class='demo-app-main'>
    <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'></full-calendar>
</div>
<div class="modal fade" id="editarmateria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{'CRUD-GERAL.EDITAR' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="small mb-1" for="materia">{{'AGENDAMENTOS.MATERIA' | translate}}</label>
                            <select [(ngModel)]="editForm.idMateria" class="form-control">
                                <option *ngFor="let materia of materias" value="{{materia.idMateria}}">
                                    {{materia.nomeMateria}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.DATAINICIO' |
                                        translate}}</label>
                                    <input type="date" class="form-control mb-1" id="inicio" name="inicio"
                                        [(ngModel)]="editForm.dataInicio"
                                        placeholder="{{'AGENDAMENTOS.INICIO' | translate}}" />
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.HORAINICIO' |
                                        translate}}</label>
                                    <input type="time" class="form-control" id="inicio" name="inicio"
                                        [(ngModel)]="editForm.horaInicio"
                                        placeholder="{{'AGENDAMENTOS.INICIO' | translate}}" />
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.DATAFIM' |
                                        translate}}</label>
                                    <input type="date" class="form-control mb-1" id="inicio" name="inicio"
                                        [(ngModel)]="editForm.dataFim"
                                        placeholder="{{'AGENDAMENTOS.INICIO' | translate}}" />
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.HORAFIM' |
                                        translate}}</label>
                                    <input class="form-control" id="fim" name="fim" type="time"
                                        [(ngModel)]="editForm.horaFim" placeholder="{{'AGENDAMENTOS.FIM' | translate}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="small mb-1">{{'AGENDAMENTOS.RECORRENCIA' | translate}}</label>
                            <select [(ngModel)]="editForm.recorrencia" class="form-control">
                                <option *ngFor="let recorrencia of recorrencias" value="{{recorrencia}}">{{recorrencia}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="small mb-1">{{'AGENDAMENTOS.METODO' | translate}}</label>
                            <span data-dismiss="modal" routerLink="../metodos"> <i class="fa fa-question-circle"
                                    style="font-size: 15px;"></i></span>
                            <select [(ngModel)]="editForm.tipoEstudo" class="form-control">
                                <option *ngFor="let metodo of metodos" value="{{metodo}}">{{metodo}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="closeModal()" type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{'MATERIAS.FECHAR' |
                    translate}}</button>
                <button (click)="edit()" type="button" class="btn btn-primary" data-dismiss="modal">{{'MATERIAS.SALVAR'
                    |
                    translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="criarmateria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{'CRUD-GERAL.CRIAR' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="small mb-1" for="materia">{{'AGENDAMENTOS.MATERIA' | translate}}</label>
                            <select [(ngModel)]="newForm.idMateria" class="form-control">
                                <option *ngFor="let materia of materias" value="{{materia.idMateria}}">
                                    {{materia.nomeMateria}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.DATAINICIO' |
                                        translate}}</label>
                                    <input type="date" class="form-control mb-1" id="inicio" name="inicio"
                                        [(ngModel)]="newForm.dataInicio"
                                        placeholder="{{'AGENDAMENTOS.INICIO' | translate}}" />
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.HORAINICIO' |
                                        translate}}</label>
                                    <input type="time" class="form-control" id="inicio" name="inicio"
                                        [(ngModel)]="newForm.horaInicio"
                                        placeholder="{{'AGENDAMENTOS.INICIO' | translate}}" />
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.DATAFIM' |
                                        translate}}</label>
                                    <input type="date" class="form-control mb-1" id="inicio" name="inicio"
                                        [(ngModel)]="newForm.dataFim"
                                        placeholder="{{'AGENDAMENTOS.INICIO' | translate}}" />
                                    <label class="small mb-1" for="intervalo">{{'AGENDAMENTOS.HORAFIM' |
                                        translate}}</label>
                                    <input class="form-control" id="fim" name="fim" type="time"
                                        [(ngModel)]="newForm.horaFim" placeholder="{{'AGENDAMENTOS.FIM' | translate}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="small mb-1">{{'AGENDAMENTOS.RECORRENCIA' | translate}}</label>
                            <select [(ngModel)]="newForm.recorrencia" class="form-control">
                                <option *ngFor="let recorrencia of recorrencias" value="{{recorrencia}}">{{recorrencia}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="small mb-1">{{'AGENDAMENTOS.METODO' | translate}}</label>
                            <span data-dismiss="modal" routerLink="../metodos"> <i class="fa fa-question-circle"
                                    style="font-size: 15px;"></i></span>
                            <select [(ngModel)]="newForm.metodo" class="form-control">
                                <option *ngFor="let metodo of metodos" value="{{metodo}}">{{metodo}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="closeModal()" type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{'MATERIAS.FECHAR' |
                    translate}}</button>
                <button (click)="save()" type="button" class="btn btn-primary" data-dismiss="modal">{{'MATERIAS.SALVAR'
                    |
                    translate}}</button>
            </div>
        </div>
    </div>
</div>