<div class="container-fluid">
  <h3 class="text-dark mb-4">{{'LOGED.METODOS' | translate}}</h3>
  <div class="card shadow">
    <div class="card-body">
      <h4 class="text-gray-600">Pomodoro</h4>
      <p style="margin-left: 20px;" class="text-monospace text-gray-500">  </p>
      <h4 class="text-gray-600">Resumos</h4>
      <p style="margin-left: 20px;" class="text-monospace text-gray-500">  </p>
      <h4 class="text-gray-600">Teste Prático</h4>
      <p style="margin-left: 20px;" class="text-monospace text-gray-500">  </p>
      <h4 class="text-gray-600">Mapa Mental</h4>
      <p style="margin-left: 20px;" class="text-monospace text-gray-500">  </p>
    </div>
  </div>
</div>