<div class="container-fluid">
  <h3 class="text-dark mb-4">{{'LOGED.METODOS' | translate}}</h3>
  <div class="card shadow">
    <div class="container conteudo">
      <div class="row">
        <div class="col texto-apresentacao">
          <p>{{'METODOS.APRESENTACAO1' | translate}}</p>
          <p>{{'METODOS.APRESENTACAO2' | translate}}</p>
          <p>{{'METODOS.APRESENTACAO3' | translate}}</p>
          <p>{{'METODOS.APRESENTACAO4' | translate}}</p>
          <p>{{'METODOS.APRESENTACAO5' | translate}}</p>
        </div>
      </div>
      <hr>
      <div class="row" style="color:#858796">
        <div class="col">
          <h4 class="titulo-media">{{'METODOS.AUTO' | translate}}</h4>
          <div class="media"><img class="mr-3 img-media" src="../../../../assets/img/autoexplicao.jpg">
            <div class="media-body texto-media">
              <p>{{'METODOS.AUTO1' | translate}}</p>
              <p>{{'METODOS.AUTO2' | translate}}</p>
              <p>{{'METODOS.AUTO3' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="color:#858796">
        <div class="col">
          <h4 class="titulo-media">{{'METODOS.RESUMO' | translate}}</h4>
          <div class="media media-dir"><img class="mr-3 img-media" src="../../../../assets/img/resumo.jpeg">
            <div class="media-body texto-media">
              <p>{{'METODOS.RESUMO1' | translate}}</p>
              <p>{{'METODOS.RESUMO2' | translate}}</p>
              <p>{{'METODOS.RESUMO3' | translate}}</p>
              <p>{{'METODOS.RESUMO4' | translate}}</p>
              <ul>
                <li>{{'METODOS.RESUMO5' | translate}}</li>
                <li>{{'METODOS.RESUMO6' | translate}}</li>
                <li>{{'METODOS.RESUMO7' | translate}}</li>
                <li>{{'METODOS.RESUMO8' | translate}}</li>
                <li>{{'METODOS.RESUMO9' | translate}}</li>
                <li>{{'METODOS.RESUMO10' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="color:#858796">
        <div class="col">
          <h4 class="titulo-media">{{'METODOS.TESTE' | translate}}</h4>
          <div class="media"><img class="mr-3 img-media" src="../../../../assets/img/pratico.jpg">
            <div class="media-body texto-media">
              <p>{{'METODOS.TESTE1' | translate}}</p>
              <p>{{'METODOS.TESTE2' | translate}}</p>
              <p>{{'METODOS.TESTE3' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="color:#858796">
        <div class="col">
          <h4 class="titulo-media">{{'METODOS.POMODORO' | translate}}</h4>
          <div class="media media-dir"><img class="mr-3 img-media" src="../../../../assets/img/pomodoro.jpg">
            <div class="media-body texto-media">
              <p>{{'METODOS.POMODORO1' | translate}}</p>
              <p>{{'METODOS.POMODORO2' | translate}}</p>
              <p>{{'METODOS.POMODORO3' | translate}}</p>
              <p>{{'METODOS.POMODORO4' | translate}}</p>
              <ul>
                <li>{{'METODOS.POMODORO5' | translate}}</li>
                <li>{{'METODOS.POMODORO6' | translate}}</li>
              </ul>
              <p>{{'METODOS.POMODORO7' | translate}}</p>
              <p>{{'METODOS.POMODORO8' | translate}}</p>
              <p>{{'METODOS.POMODORO9' | translate}}</p>
              <p>{{'METODOS.POMODORO10' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="color:#858796">
        <div class="col">
          <h4 class="titulo-media">{{'METODOS.MAPA' | translate}}</h4>
          <div class="media"><img class="mr-3 img-media" src="../../../../assets/img/mapamental.png">
            <div class="media-body texto-media">
              <p>{{'METODOS.MAPA1' | translate}}</p>
              <p>{{'METODOS.MAPA2' | translate}}</p>
              <p>{{'METODOS.MAPA3' | translate}}</p>
              <p>{{'METODOS.MAPA4' | translate}}</p>
              <p>{{'METODOS.MAPA5' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>