<nav style="height: 100%;" class="align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" routerLink="./calendario">
      <div class=".img-logo"><img class=".img-logo" src="assets/img/logo.png" width="50px"></div>
      <div class="sidebar-brand-text mx-3 logo-profile" style="font-family: Comfortaa; text-transform: none; font-size: 1.8rem"><span>Plannic</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="nav navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item">
        <a class="nav-link" routerLink="./calendario">
          <i class="fa fa-calendar-alt"></i>
          <span>{{'LOGED.CALENDARIO' | translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./materias">
          <i class="fa fa-book"></i>
          <span>{{'LOGED.MATERIAS' | translate}}</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="./agendamentos">
          <i class="fa fa-calendar-check"></i>
          <span>{{'LOGED.AGENDAMENTOS' | translate}}</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="./notas">
          <i class="fa fa-list-ol"></i>
          <span>{{'LOGED.NOTAS' | translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./relatorios">
          <i class="fas fa-chart-bar"></i>
          <span>{{'LOGED.RELATORIOS' | translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./metodos">
          <i class="fa fa-pencil-square-o"></i>
          <span>{{'LOGED.METODOS' | translate}}</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="./configuracoes">
          <i class="fas fa-cog"></i>
          <span>{{'LOGED.CONFIGURACOES' | translate}}</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" (click)="deslogar()">
          <i class="fas fa-sign-out-alt"></i>
          <span>{{'LOGED.SAIR' | translate}}</span>
        </a>
      </li>
    </ul>
  </div>
  <footer>
    <select style="margin: 15px; width:auto;" class="form-control form-control-sm" #langSelect (change)="switchLang(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{
        lang }}</option>
    </select>
  </footer>
</nav>